.articlePost {
    border: 1px solid blue;
    border-radius: 20px;
    margin: 10px 0;
    background-color: #f8f9fa;
}

.articleContainer {
    grid-area: image;
}

.articleImage {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.articleOverview {
    grid-area: overview;
    margin: 0 10px;
}

.articleTitle {
    font-size: 2em;
}

.articleSummary {
    font-size: 1.5em;
}

.stats {
    grid-area: stats;
    display: flex;
    border-top: 1px solid #e9ecef;
    justify-content: space-between;
    margin: 5px 0;
    padding: 0 10% 0 40%
}